[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[requires]
python_version = "{{cookiecutter.python_version}}"

[packages]
pandas = "*"
numpy = "*"
scikit-learn = "*"
scipy = "*"
python-dotenv = "*"
jupyterlab = "*"
seaborn = "*"
matplotlib = "*"
statsmodels = "*"

[packages.e1839a8]
path = "."
editable = true